#!/usr/bin/make -f
CFLAGS = -O2 -Wall
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

binary: binary-indep binary-arch

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	#dh_installchangelogs CHANGES
	dh_installdocs docs/mod_fastcgi.html CHANGES
	dh_installdeb
	dh_fixperms
	dh_shlibdeps
	dh_compress
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_md5sums
	dh_gencontrol
	dh_builddeb

build: build-stamp
build-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" /usr/bin/apxs -o mod_fastcgi.so -c *.c
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp
	-rm -f *.o mod_fastcgi.so
	dh_clean build-stamp

DEB_ROOT := debian/libapache-mod-fastcgi/
APACHE_MODULES_DIR := usr/lib/apache2/modules
APACHE_MODULES_AVAILABLE := etc/apache2/mods-available
install:
	dh_testdir
	dh_installdirs
	mkdir -p $(DEB_ROOT)$(APACHE_MODULES_DIR)
	mkdir -p $(DEB_ROOT)$(APACHE_MODULES_AVAILABLE)
	# fixme: libtool?
	cp .libs/mod_fastcgi.so $(DEB_ROOT)$(APACHE_MODULES_DIR)/
	chmod 644 $(DEB_ROOT)$(APACHE_MODULES_DIR)/mod_fastcgi.so
	cp -v --target-directory $(DEB_ROOT)$(APACHE_MODULES_AVAILABLE)/ \
		debian/etc/fastcgi.load \
		debian/etc/fastcgi.conf

.PHONY: binary binary-arch binary-indep clean build install
